* {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	padding-top: 0px;
	padding-bottom: 30px;
}

#content {
	line-height: 0;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 50px;
}

.content {
	line-height: 1.5;
	font-size: 10px;
}

.pre_footer {
	background-color: #002540;
	height: 100%;
	width: 100%;
	padding: 0;
}

.pre_footer #prefooter_head {
	padding: 20px;
	width: 90%;
	margin: 0 auto;
}

#prefooter_head #prefooter_content {
	padding: 10px 0px;
	display: table;
	margin: 0 auto;
	width: 90%;
}

#prefooter_content #about, #career, #follow_us, #contact_us {
	display: inline-table;
	width: 25%;
	height: 25%;

}

#prefooter_content h5 {
	color: white;
	line-height: 0;
}

#prefooter_content a {
	text-decoration: none;
	display: block;
	color: white;
	line-height: 0;
	font-size: 13px;
}